disktool/disktool
disktool/*.o
disktool/disk.img
disktool/gfs/*
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
doc/Slides/*.aux
doc/Slides/*.log
doc/Slides/*.pdf
doc/generated/*
driver/.tmp_versions
driver/Module.symvers
driver/*.o
driver/*.d
driver/*.mod
driver/*.cmd
driver/genericfs.ko
driver/genericfs.mod.c
driver/modules.order

.DS_Store

